 <div id="openLiveChat">
	<span class="livechat-tab">{{ btn_text }}</span>
</div>

<!-- Chatbox -->
<div id="liveChatBox" class="livechat-modal">

  <!-- Chat window -->
  <div class="livechat-modal-content">
    <span class="livechat-close"></span>
    <div id="chatBox" class="livechat-window" style="overflow:scroll; white-space: pre-line; padding:5px;"></div>
    <form id="chatForm" name="livechat-message" autocomplete="off">{% csrf_token %}
    	<input type="text" id="chatMessage" name="livechat_message" class="livechat-input" autocomplete="off">
    	<input type="hidden" id="chatURL" name="livechat_url" class="livechat-input" value="{% url 'livechat_post' %}">
    	<input type="hidden" id="chatSessionURL" name="livechat_init" class="livechat-input" value="{% url 'livechat_init' %}">
    	<input type="hidden" id="chatLogURL" name="livechat_get" class="livechat-input" value="{% url 'livechat_get' %}">
    	<input type="submit" style="display: none;" />
    </form>
  </div>

</div>